{% load static %}<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/x-icon" href="{% static 'images/Logo.ico' %}">

		<!-- animate -->
		<link rel="stylesheet" href="{% static 'css/animatemin.css' %}">
		<!-- bootstrap -->
		<link rel="stylesheet" href="{% static 'css/bootstrapmin.css' %}">
		<!-- font-awesome -->
		<link rel="stylesheet" href="{% static 'css/font-awesomemin.css' %}">
		<!-- google font -->
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700,800' rel='stylesheet' type='text/css'>
		<!-- fullpage -->
		<link rel="stylesheet" href="{% static 'css/jqueryfullPage.css' %}">
		<!-- custom -->
		<link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}">

        <title>{{title}}</title>
	</head>
	<body>

	<div id="fullpage">

		<!-- start home -->
		<div id="home" class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8 wow fadeIn" data-wow-delay="1.2s">
						<h3>Simples e Elegante</h3>
						<h1>Daniel Mendes</h1>
						<h2 class="rotate">DESIGNER &AMP; DEVELOPER, UI &AMP; PROJECT LEADER</h2>
						<p>Seja bem-vindo ao meu site exclusivo de portfolios de design.<br> Aqui você poderá acompanhar meu crescimento artístico e técnico.</p>
						<a href="#work" class="btn btn-default smoothScroll wow fadeInUp" data-wow-delay="1s">Começar!</a>
					</div>
					<div class="col-md-2"></div>
				</div>
			</div>
		</div>
		<!-- end home -->

		<!-- start work -->
		<div id="work" class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12 wow bounce">
						<h2>O QUE EU FAÇO COMO DESIGNER</h2>
					</div>
                </div>  
                
                <div class="row">
					<div class="col-md-4 col-xs-11 wow fadeInUp" data-wow-delay="0.6s">
						<div class="media">
							<div class="media-object media-left">
								<i class="fa fa-mobile"></i>
							</div>
							<div class="media-body">
								<h3 class="media-heading">Responsividade Mobile</h3>
								<p>Utilizo minhas habilidades em HTML &AMP; CSS para adaptar o conteúdo web a qualquer tela </p>
							</div>
						</div>
					</div>
                    
					<div class="col-md-4 col-xs-11 wow fadeInUp" data-wow-delay="0.6s">
						<div class="media">
							<div class="media-object media-left">
								<i class="fa fa-users"></i>
							</div>
							<div class="media-body">
								<h3 class="media-heading">Professor</h3>
								<p>Ministro aulas de Design Gráfico e Design Web há mais de 5 anos.</p>
							</div>
						</div>
					</div>
                    
					<div class="col-md-4 col-xs-11 wow fadeInUp" data-wow-delay="0.6s">
						<div class="media">
							<div class="media-object media-left">
								<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
							</div>
							<div class="media-body">
								<h3 class="media-heading">UI &AMP; UX Design</h3>
								<p>Idealizo e concretizo a identidade visual de infoprodutos, móveis, logos e wireframes</p>
							</div>
						</div>
					</div>
                    
				</div>
			</div>
		</div>
		<!-- end work -->

		<!-- start about -->
		<div id="about" class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-xs-11 wow fadeInLeft" data-wow-delay="0.9s">
						<h2>SOBRE DANIEL MENDES</h2>
						<h4>DESIGNER &AMP; DEVELOPER</h4>
						<p>Curioso e criativo desde criança, enxergo o mundo a minha volta nos mínimos detalhes. Tudo me chama a atenção, e essa curiosidade me levou a diversas áreas.</p>
						<p>É comum eu vetorizar, dar nome as coisas e musicalizar certas ideias. <br> Sou um sonhador ciente de meus limites, mas almejo novas experiências. </p>
					</div>
					<div class="col-md-6 col-xs-11 wow fadeInRight" data-wow-delay="0.9s">
						<span class="text-top">Web Developer <small>90%</small></span>
							<div class="progress">
								<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
							</div>
						<span>Python Developer <small>85%</small></span>
							<div class="progress">
								<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
							</div>
						<span>Illustrator <small>95%</small></span>
							<div class="progress">
								<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 95%;"></div>
							</div>
						<span>Professor <small>98%</small></span>
							<div class="progress">
								<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 98%;"></div>
							</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end about -->

		<!-- start portfolio -->
		<div id="portfolio" class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="wow bounce">PORTFOLIO</h2>
				</div>
				<div class="col-md-4 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
					<div class="portfolio-thumb">
						<img src="{% static 'images/vector.png'%}" class="img-responsive" alt="portfolio img">
							<a href="{% url  'app:vector' %}" target="_blank"><div class="portfolio-overlay">
								<h4>Vetorização</h4>
								<h5>Clique para visitar</h5>
							</div></a>
					</div>
				</div>
				<div class="col-md-4 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
					<div class="portfolio-thumb">
						<img src="{% static 'images/pixel.jpg'%}" class="img-responsive" alt="portfolio img">
							<a href="{% url  'app:pixel' %}" target="_blank"><div class="portfolio-overlay">
								<h4>Pixel Art</h4>
								<h5>Clique para visitar</h5>
							</div></a>
					</div>
				</div>
				<div class="col-md-4 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
					<div class="portfolio-thumb">
						<img src="{% static 'images/logos.jpg'%}" class="img-responsive" alt="portfolio img">
							<a href="{% url  'app:logos' %}" target="_blank"><div class="portfolio-overlay">
								<h4>Logos</h4>
								<h5>Clique para visitar</h5>
							</div></a>
					</div>
				</div>
				<div class="col-md-4 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
					<div class="portfolio-thumb">
						<img src="{% static 'images/portfolio-img4.png'%}" class="img-responsive" alt="portfolio img">
							<a href="{% url  'app:ui_ux' %}" target="_blank"><div class="portfolio-overlay">
								<h4>UI/UX-Applications</h4>
								<h5>Clique para visitar</h5>
							</div></a>
					</div>
				</div>
				<div class="col-md-4 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
					<div class="portfolio-thumb">
						<img src="{% static 'images/general.jpg'%}" class="img-responsive" alt="portfolio img">
							<a href="{% url  'app:general' %}" target="_blank"><div class="portfolio-overlay">
								<h4>Design em geral</h4>
								<h5>Clique para visitar</h5>
							</div></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end portfolio -->

		<!-- start contact -->
		<div id="contact" class="section">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-lg-offset-1 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
						<address>
							<p class="contact-title">FALE COMIGO!</p>
							<i class="fa fa-whatsapp" aria-hidden="true"></i> 024 99876-0445</p>
							<p><i class="fa fa-envelope-o"></i>senseidanielmendes@gmail.com</p>
							<p><i class="fa fa-map-marker"></i> Paulino Afonso, 301 FDS - Centro, Petrópolis-RJ</p>
						</address>
					</div>
					<div class="col-lg-6 col-md-6 col-xs-10 wow fadeInUp" data-wow-delay="0.6s">
						<form role="form" method="get" action="mailto:senseidanielmendes@gmail.com" target="_blank">
							<input name="name" type="text" class="form-control" id="name" placeholder="Seu Nome">
							<input name="email" type="email" class="form-control" id="email" placeholder="Seu E-mail">
							<textarea name="message" rows="5" class="form-control" id="message" placeholder="Sua Mensagem"></textarea>
							<input name="send" type="submit" class="form-control" id="send" value="ENVIAR">
						</form>
					</div>
					<div class="col-md-1 col-sm-1"></div>
				</div>
			</div>
		</div>
		<!-- end contact -->

		<!-- start footer -->
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-12 wow fadeIn" data-wow-delay="0.9s">
						<p>{{copy}}</p>
						<hr>
						<ul class="social-icon">
							<li><a href="https://www.facebook.com/daniel.jose.56232/" class="fa fa-facebook"></a></li>
							<li><a href="https://www.instagram.com/jonysan_shaolin/" class="fa fa-instagram"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		<!-- end footer -->

	</div>

		<!-- jQuery -->
		<script src="{% static 'js/jquery.js'%}"></script>
		<!-- bootstrap -->
		<script src="{% static 'js/bootstrap.min.js'%}"></script>
		<!-- fullpage -->
		<script src="{% static 'js/jquery.fullPage.js'%}"></script>
		<!-- smoothScroll -->
		<script src="{% static 'js/smoothscroll.js'%}"></script>
		<!-- wow -->
		<script src="{% static 'js/wow.min.js'%}"></script>
		<!-- text rotater -->
		<script src="{% static 'js/jquery.simple-text-rotator.js'%}"></script>
		<!-- custom -->
		<script src="{% static 'js/custom.js'%}"></script>

	</body>
</html>